version: '3.9'

services:
  postgres:
    container_name: postgres_123
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DATABASE}
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - nestjs_course

volumes:
  postgres_data:

networks:
  nestjs_course:
